.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        margin-top: 6vw;
        width: 15vw;
    }
    h1 {
        padding: 3vw;
        // color:$main-color;
        font-size: 2vw;
        font-weight: 500;
        background: -webkit-linear-gradient(bottom, #83cb9c 0, #4cad6e 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width: 750px) {
    .contact {
        img {
            margin-top: 6vw;
            width: 35vw;
        }
        h1 {
            padding: 10vw;
            font-size: 5vw;
        }
    }
}
